/*default styles for testing and layout purposes*/
body {
	/*For testing purposes*/
	background-color: lightGray;
}

div {
	/*For testing purposes*/
	border: 1px solid Chocolate;
}

/*Setting up the header*/
.Navigation {
	max-width: 51em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0 3.5em 0;
	background-color: white;
}

.Logo {
	max-width: 3.25%;
	float: left;
}

.NavigationBar {
	text-align: right;
	float: right;
	margin: 0.75em 0 0 0;
}

.NavigationBar > li {
	display: inline-block;
	padding-left: 1.5em;

	/*typography*/
	letter-spacing: .5px;
	font-weight: lighter;
	color: gray;
}

.NavigationBar > li:first-child {
	/*typography*/
	font-weight: normal;
	color: #3E3E3E;
}

.NavigationBar > li:hover {
	cursor: pointer;

	/*typography*/
	color: black;
}

.BackgroundImage {
	background-image: url('../images/first-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 11em 0 12em 0;
}

.Headline {
	font-size: 3em;
	font-weight: lighter;
	text-align: center;
	color: white;
	margin: 0 0 0.5em 0;
}

.Deck {
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	color: white;
}

.Button {
	background-color: orange;
	max-width: 9em;
	padding: -0.3em 0.1em 0.1em 0.1em;
	margin-left: auto;
	margin-right: auto;
}

.ButtonText {
	font-size: 1.1em;
	font-weight: lighter;
	text-align: center;
	color: white;
}